html {
    width: 100%;
    height: 100%;
}
body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to top, black, rgb(129, 7, 7));
    
}
div{
    align-items: center;
    border: 10px;
    background-color: black;
    color: white;
    margin: 130px auto;
    text-align: center;
    width: 500px;
    height: 350px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(188, 3, 3, 0.889);
}
.l1{
    text-align: center;
    padding-top: 70px;
    
}
form{
    align-content: center;
    margin-top: -390px;
}
input{
    background-color: rgb(90, 87, 87);
    width: 300px;
    height: 25px;
    border-radius: 5px;
    text-align: center;
}

button{
    background-color:  rgb(137, 32, 32);
    border: rgb(137, 32, 32);
    border-radius: 15px;
    width: 120px;
    margin-top: 20px;
    transition: 0.5s;
}
button:hover{
    transform: scale(1.11);
}
span{
    color: red;
}